<div class="main anpis-index">
  <div class="container">
    <h1 class="form-heading">安否情報一覧(全件)</h1>

    <ul>
    <% @anpis.each do |anpi| %>
      <li>
        <%= anpi.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d %H:%M:%S') %> <%= anpi.room %>号室 <b><%= @anpi_strings[anpi.status] %></b>
      </li>
    <% end %>
    </ul>

    <p><%= link_to("安否登録", "/anpis/new") %></p>
  </div>
</div>