<div class="main anpis-new">
  <div class="container">
    <h1 class="form-heading">安否登録</h1>
    
    <!-- form -->
    <%= form_tag("/anpis/create") do %>
      <div class="form">
        <div class="form-body">

          <!-- error message -->
          <% @anpi.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %> : 部屋番号が間違っています(入力は半角数字3文字でお願いします)
            </div>
          <% end %>
          
          <!-- input & button -->
          <p>部屋番号 <input name="room" value='<%= @anpi.room %>'></p>
          <!-- 
            <p>安否 (1: 無事 2: 被害あり 3: 不在 4: その他) <input name="status"><%= @anpi.status %></p>
          -->
          <p>安否 (1: 無事 2: 被害あり 3: 不在 4: その他) 
            <select name="status">
              <option value="1">1. 無事</option>
              <option value="2">2. 被害あり</option>
              <option value="3">3. 不在</option>
              <option value="4">4. その他</option>
            </select>            
          </p>
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>

    <p><%= link_to("安否一覧", "/anpis/index") %></p>
  </div>
</div>